### Задача 1 
Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

### Задача 2
Разделить таблицу данных на четыре одинаковых части.

### Задача 3
Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

In [28]:
import random

random.seed(42)

In [29]:
import pandas as pd

data = pd.read_csv(
    '/Users/dima-utyuz/data_analytics/data_analysis/beverage_r.csv',
    delimiter=';',
)
data.head()

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0         1     1       0        0      0      1       1    0        1
1         2     1       0        0      0      1       0    0        0
2         3     1       0        0      0      1       0    0        0
3         4     0       1        0      1      0       0    1        0
4         5     1       0        0      0      1       0    0        0

In [30]:
data.describe()

,numb.obs,COKE,D_COKE,D_PEPSI,D_7UP,PEPSI,SPRITE,TAB,SEVENUP
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,17.500000,0.588235,0.500000,0.235294,0.205882,0.470588,0.323529,0.323529,0.264706
std,9.958246,0.499554,0.507519,0.430562,0.410426,0.506640,0.474858,0.474858,0.447811
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,17.500000,1.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,25.750000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.750000
max,34.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
data_shuffled = data.sample(frac=1, random_state=42).reset_index(drop=True)
data_shuffled.head()

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0        16     0       0        0      0      1       1    0        0
1        20     1       1        1      0      1       0    0        0
2        28     1       0        0      0      0       1    0        1
3        27     0       1        0      0      0       0    1        0
4         9     1       1        0      0      0       1    1        1

In [32]:
train_size = int(len(data_shuffled) * 0.66)
test_size = len(data_shuffled) - train_size

X_train = data_shuffled[:train_size]
X_test = data_shuffled[train_size:]

print(len(X_train))
print(len(X_test))

22
12

In [33]:
parts = [[], [], [], []]

i = 0
for _, row in data_shuffled.iterrows():
    parts[i % 4].append(row)
    i += 1

print(len(parts[0]))
print(len(parts[1]))
print(len(parts[2]))
print(len(parts[3]))

9
9
8
8

In [34]:
groups = [[[], []], [[], []]]

for _, row in data_shuffled.iterrows():
    groups[row['COKE']][row['TAB']].append(row)

sample_a = pd.DataFrame(columns=data.columns)
sample_b = pd.DataFrame(columns=data.columns)

for coke_groups in groups:
    for coke_tab_group in coke_groups:
        sample = pd.DataFrame(coke_tab_group, columns=data.columns)
        m = len(sample) // 2
        sample_a = pd.concat([sample_a, sample[:m]], ignore_index=True)
        sample_b = pd.concat([sample_b, sample[m:]], ignore_index=True)

In [35]:
data.groupby(['COKE', 'TAB']).size()

COKE  TAB
0     0       4
      1      10
1     0      19
      1       1
dtype: int64

In [36]:
sample_a.groupby(['COKE', 'TAB']).size()

COKE  TAB
0     0      2
      1      5
1     0      9
dtype: int64

In [37]:
sample_b.groupby(['COKE', 'TAB']).size()

COKE  TAB
0     0       2
      1       5
1     0      10
      1       1
dtype: int64